body,
html {
  margin: 0;
  padding: 0;
}

#wrapper {
  height: 100vh;
  position: relative;
}

#container {
  width: 992px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  overflow: hidden;
}
#container main {
  flex-basis: 100%;
}
#container main article {
  font-family: "Open Sans", sans-serif;
  font-size: 1.5em;
  display: none;
}
#container main article.show {
  display: block !important;
}
#container main article.hide {
  display: none !important;
}
#container main article p {
  margin: 0;
}
#container main article label {
  display: block;
  margin-bottom: 15px;
}
#container main article select,
#container main article textarea,
#container main article input {
  width: 99%;
  font-family: "Open Sans", sans-serif;
  font-size: 1.5rem;
}
#container main article input.mb20 {
  margin-bottom: 20px;
}
#container main .restaurant h4 {
  font-size: 1.6rem;
  font-weight: 700;
}
#container main .restaurant .resbox {
  background-color: #ddd;
  padding: 10px;
  margin-bottom: 20px;
}
#container main .restaurant .minicontainer {
  background-color: #eee;
  padding: 10px;
  display: flex;
}
#container main .restaurant .minicontainer .thumbnail {
  flex: 0 0 25%;
}
#container main .restaurant .minicontainer .thumbnail img {
  max-width: 100%;
}
#container main .restaurant .minicontainer .details {
  flex: 1 0 0;
  padding: 20px;
}
#container main .restaurant .minicontainer .details .more {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
#container main .restaurant .minicontainer .details .more .title {
  font-family: "Open Sans", sans-serif;
}
#container main .restaurant .minicontainer .details .more .title h1 {
  font-size: 1.7rem;
  font-weight: 600;
  margin: 0;
}
#container main .restaurant .minicontainer .details .more .rating .boxr {
  background-color: darkgreen;
  padding: 0px 3px;
  font-family: "Open Sans", sans-serif;
  font-size: 1.4rem;
  color: #FFF;
  border-radius: 4px;
}
#container main .restaurant .minicontainer .details .more .rating .boxr .bign {
  font-weight: 700;
}
#container main .restaurant .minicontainer .details .more .rating .boxr small {
  font-size: 1rem;
  color: #CCC;
  font-weight: 700;
}
#container main .restaurant .minicontainer .details .more .rating p {
  font-family: "Open Sans", sans-serif;
  font-size: 0.7rem;
  color: #999;
  text-align: center;
}
#container main .restaurant .minicontainer .details .comments {
  font-family: "Open Sans", sans-serif;
  font-size: 0.8rem;
  color: #999;
  border-bottom: 1px solid #AAA;
  padding-bottom: 20px;
}
#container main .restaurant .minicontainer .details .openfrom ul {
  list-style: none;
  padding-left: 0;
}
#container main .restaurant .minicontainer .details .openfrom ul li {
  font-family: "Open Sans", sans-serif;
  font-size: 0.7rem;
  display: inline-block;
  margin-right: 5px;
}
#container main .restaurant .minicontainer .details .openfrom ul li:first-of-type {
  color: #0000FF;
}
#container main .restaurant .minicontainer .details .openfrom ul li:nth-of-type(2) {
  color: #FF0000;
}
#container main .restaurant .minicontainer .details .openfrom ul li:last-of-type {
  color: #999;
}

#next {
  flex-basis: 100%;
  margin-top: 100px;
}
#next ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}
#next ul li.hide {
  display: none !important;
}
#next ul li button {
  font-family: "Open Sans", sans-serif;
  font-size: 1.5em;
}

footer {
  width: 100vw;
  height: 25px;
  position: absolute;
  bottom: 0;
  z-index: -1;
}
footer .progress-bar {
  height: 100%;
  background-color: #f0a3a3;
  background-image: linear-gradient(to bottom, #f0a3a3, #f42323);
}

.mr20 {
  margin-right: 20px;
}

.mb40 {
  margin-bottom: 40px !important;
}

.mb20 {
  margin-bottom: 20px !important;
}

.tick {
  color: #008000;
  font-size: 1.5em;
}

.highlighting {
  background-color: #FFFF00;
}

@media (max-width: 576px) {
  #wrapper #container main article {
    font-size: 1em !important;
  }

  #container {
    width: 100vw;
    padding: 0 20px 0 20px;
  }
}

/*# sourceMappingURL=style.css.map */
